apiVersion: provisioning.dpu.nvidia.com/v1alpha1
kind: DPUFlavor
metadata:
  name: flavor-1500
  namespace: dpf-operator-system
spec:
  bfcfgParameters:
    - UPDATE_ATF_UEFI=yes
    - UPDATE_DPU_OS=yes
    - WITH_NIC_FW_UPDATE=yes
  grub:
    kernelParameters:
      - console=hvc0
      - console=ttyAMA0
      - earlycon=pl011,0x13010000
      - fixrttc
      - net.ifnames=0
      - biosdevname=0
      - iommu.passthrough=1
      - cgroup_no_v1=net_prio,net_cls
      - hugepagesz=2048kB
      - hugepages=3072
  nvconfig:
    - device: '*'
      parameters:
        - PF_BAR2_ENABLE=0
        - PER_PF_NUM_SF=1
        - PF_TOTAL_SF=20
        - PF_SF_BAR_SIZE=10
        - NUM_PF_MSIX_VALID=0
        - PF_NUM_PF_MSIX_VALID=1
        - PF_NUM_PF_MSIX=228
        - INTERNAL_CPU_MODEL=1
        - INTERNAL_CPU_OFFLOAD_ENGINE=0
        - SRIOV_EN=1
        - NUM_OF_VFS=<NUM_VFS>
        - LAG_RESOURCE_ALLOCATION=1
  ovs:
    rawConfigScript: IyEvYmluL2Jhc2gKCl9vdnMtdnNjdGwoKSB7CiAgICAgICAgICBvdnMtdnNjdGwgLS1uby13YWl0IC0tdGltZW91dCAxNSAiJEAiCiAgICAgICAgfQoKX292cy12c2N0bCBzZXQgT3Blbl92U3dpdGNoIC4gb3RoZXJfY29uZmlnOmRvY2EtaW5pdD10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzpkcGRrLW1heC1tZW16b25lcz01MDAwMApfb3ZzLXZzY3RsIHNldCBPcGVuX3ZTd2l0Y2ggLiBvdGhlcl9jb25maWc6aHctb2ZmbG9hZD10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzpwbWQtcXVpZXQtaWRsZT10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzptYXgtaWRsZT0yMDAwMApfb3ZzLXZzY3RsIHNldCBPcGVuX3ZTd2l0Y2ggLiBvdGhlcl9jb25maWc6bWF4LXJldmFsaWRhdG9yPTUwMDAKX292cy12c2N0bCBzZXQgT3Blbl92U3dpdGNoIC4gb3RoZXJfY29uZmlnOmN0bC1waXBlLXNpemU9MTAyNApfb3ZzLXZzY3RsIC0taWYtZXhpc3RzIGRlbC1iciBvdnNicjEKX292cy12c2N0bCAtLWlmLWV4aXN0cyBkZWwtYnIgb3ZzYnIyCl9vdnMtdnNjdGwgLS1tYXktZXhpc3QgYWRkLWJyIGJyLXNmYwpfb3ZzLXZzY3RsIHNldCBicmlkZ2UgYnItc2ZjIGRhdGFwYXRoX3R5cGU9bmV0ZGV2Cl9vdnMtdnNjdGwgc2V0IGJyaWRnZSBici1zZmMgZmFpbF9tb2RlPXNlY3VyZQpfb3ZzLXZzY3RsIC0tbWF5LWV4aXN0IGFkZC1wb3J0IGJyLXNmYyBwMApfb3ZzLXZzY3RsIHNldCBJbnRlcmZhY2UgcDAgdHlwZT1kcGRrCl9vdnMtdnNjdGwgc2V0IFBvcnQgcDAgZXh0ZXJuYWxfaWRzOmRwZi10eXBlPXBoeXNpY2FsCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIGV4dGVybmFsLWlkczpvdm4tYnJpZGdlLWRhdGFwYXRoLXR5cGU9bmV0ZGV2Cl9vdnMtdnNjdGwgLS1tYXktZXhpc3QgYWRkLWJyIGJyLWRwdQpfb3ZzLXZzY3RsIGJyLXNldC1leHRlcm5hbC1pZCBici1kcHUgYnJpZGdlLWlkIGJyLWRwdQpfb3ZzLXZzY3RsIGJyLXNldC1leHRlcm5hbC1pZCBici1kcHUgYnJpZGdlLXVwbGluayBwYnJkcHV0b2Jyb3ZuCl9vdnMtdnNjdGwgc2V0IGJyaWRnZSBici1kcHUgZGF0YXBhdGhfdHlwZT1uZXRkZXYKX292cy12c2N0bCAtLW1heS1leGlzdCBhZGQtcG9ydCBici1kcHUgcGYwaHBmCl9vdnMtdnNjdGwgc2V0IEludGVyZmFjZSBwZjBocGYgdHlwZT1kcGRrCl9vdnMtdnNjdGwgLS1tYXktZXhpc3QgYWRkLWJyIGJyLW92bgpfb3ZzLXZzY3RsIHNldCBicmlkZ2UgYnItb3ZuIGRhdGFwYXRoX3R5cGU9bmV0ZGV2Cl9vdnMtdnNjdGwgYWRkLXBvcnQgYnItb3ZuIHBicm92bnRvYnJkcHUKX292cy12c2N0bCBhZGQtcG9ydCBici1kcHUgcGJyZHB1dG9icm92bgpfb3ZzLXZzY3RsIHNldCBpbnRlcmZhY2UgcGJyb3ZudG9icmRwdSB0eXBlPXBhdGNoIG9wdGlvbnM6cGVlcj1wYnJkcHV0b2Jyb3ZuCl9vdnMtdnNjdGwgc2V0IGludGVyZmFjZSBwYnJkcHV0b2Jyb3ZuIHR5cGU9cGF0Y2ggb3B0aW9uczpwZWVyPXBicm92bnRvYnJkcHUK 
