apiVersion: provisioning.dpu.nvidia.com/v1alpha1
kind: DPUFlavor
metadata:
  name: flavor
  namespace: dpf-operator-system
spec:
  bfcfgParameters:
    - UPDATE_ATF_UEFI=yes
    - UPDATE_DPU_OS=yes
    - WITH_NIC_FW_UPDATE=yes
  grub:
    kernelParameters:
      - console=hvc0
      - console=ttyAMA0
      - earlycon=pl011,0x13010000
      - fixrttc
      - net.ifnames=0
      - biosdevname=0
      - iommu.passthrough=1
      - cgroup_no_v1=net_prio,net_cls
      - hugepagesz=2048kB
      - hugepages=8072
  nvconfig:
    - device: '*'
      parameters:
        - PF_BAR2_ENABLE=0
        - PER_PF_NUM_SF=1
        - PF_TOTAL_SF=20
        - PF_SF_BAR_SIZE=10
        - NUM_PF_MSIX_VALID=0
        - PF_NUM_PF_MSIX_VALID=1
        - PF_NUM_PF_MSIX=228
        - INTERNAL_CPU_MODEL=1
        - INTERNAL_CPU_OFFLOAD_ENGINE=0
        - SRIOV_EN=1
        - NUM_OF_VFS=<NUM_VFS>
        - LAG_RESOURCE_ALLOCATION=1
        - NUM_VF_MSIX=48
  ovs:
    rawConfigScript: IyEvYmluL2Jhc2gKCgpfb3ZzLXZzY3RsKCkgewogIG92cy12c2N0bCAtLW5vLXdhaXQgLS10aW1lb3V0IDE1ICIkQCIKfQoKX292cy12c2N0bCBzZXQgT3Blbl92U3dpdGNoIC4gb3RoZXJfY29uZmlnOmRvY2EtaW5pdD10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzpkcGRrLW1heC1tZW16b25lcz01MDAwMApfb3ZzLXZzY3RsIHNldCBPcGVuX3ZTd2l0Y2ggLiBvdGhlcl9jb25maWc6aHctb2ZmbG9hZD10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzpwbWQtcXVpZXQtaWRsZT10cnVlCl9vdnMtdnNjdGwgc2V0IE9wZW5fdlN3aXRjaCAuIG90aGVyX2NvbmZpZzptYXgtaWRsZT0yMDAwMApfb3ZzLXZzY3RsIHNldCBPcGVuX3ZTd2l0Y2ggLiBvdGhlcl9jb25maWc6bWF4LXJldmFsaWRhdG9yPTUwMDAKX292cy12c2N0bCBzZXQgT3Blbl92U3dpdGNoIC4gb3RoZXJfY29uZmlnOmN0bC1waXBlLXNpemU9MTAyNApfb3ZzLXZzY3RsIC0taWYtZXhpc3RzIGRlbC1iciBvdnNicjEKX292cy12c2N0bCAtLWlmLWV4aXN0cyBkZWwtYnIgb3ZzYnIyCl9vdnMtdnNjdGwgLS1tYXktZXhpc3QgYWRkLWJyIGJyLXNmYwpfb3ZzLXZzY3RsIHNldCBicmlkZ2UgYnItc2ZjIGRhdGFwYXRoX3R5cGU9bmV0ZGV2Cl9vdnMtdnNjdGwgc2V0IGJyaWRnZSBici1zZmMgZmFpbF9tb2RlPXNlY3VyZQpfb3ZzLXZzY3RsIC0tbWF5LWV4aXN0IGFkZC1iciBici1oYm4KX292cy12c2N0bCBzZXQgYnJpZGdlIGJyLWhibiBkYXRhcGF0aF90eXBlPW5ldGRldgpfb3ZzLXZzY3RsIHNldCBicmlkZ2UgYnItaGJuIGZhaWxfbW9kZT1zZWN1cmUKX292cy12c2N0bCAtLW1heS1leGlzdCBhZGQtcG9ydCBici1zZmMgcDAKX292cy12c2N0bCBzZXQgSW50ZXJmYWNlIHAwIHR5cGU9ZHBkawpfb3ZzLXZzY3RsIHNldCBJbnRlcmZhY2UgcDAgbXR1X3JlcXVlc3Q9OTIxNgpfb3ZzLXZzY3RsIHNldCBQb3J0IHAwIGV4dGVybmFsX2lkczpkcGYtdHlwZT1waHlzaWNhbApfb3ZzLXZzY3RsIC0tbWF5LWV4aXN0IGFkZC1wb3J0IGJyLXNmYyBwMQpfb3ZzLXZzY3RsIHNldCBJbnRlcmZhY2UgcDEgdHlwZT1kcGRrCl9vdnMtdnNjdGwgc2V0IEludGVyZmFjZSBwMSBtdHVfcmVxdWVzdD05MjE2Cl9vdnMtdnNjdGwgc2V0IFBvcnQgcDEgZXh0ZXJuYWxfaWRzOmRwZi10eXBlPXBoeXNpY2FsCiAKX292cy12c2N0bCBzZXQgT3Blbl92U3dpdGNoIC4gZXh0ZXJuYWwtaWRzOm92bi1icmlkZ2UtZGF0YXBhdGgtdHlwZT1uZXRkZXYKX292cy12c2N0bCAtLW1heS1leGlzdCBhZGQtYnIgYnItb3ZuCl9vdnMtdnNjdGwgc2V0IGJyaWRnZSBici1vdm4gZGF0YXBhdGhfdHlwZT1uZXRkZXYKX292cy12c2N0bCBici1zZXQtZXh0ZXJuYWwtaWQgYnItb3ZuIGJyaWRnZS1pZCBici1vdm4KX292cy12c2N0bCBici1zZXQtZXh0ZXJuYWwtaWQgYnItb3ZuIGJyaWRnZS11cGxpbmsgcHVwbGlua2Jyb3ZudG9icnNmYwpfb3ZzLXZzY3RsIHNldCBJbnRlcmZhY2UgYnItb3ZuIG10dV9yZXF1ZXN0PTkyMTYKX292cy12c2N0bCAtLW1heS1leGlzdCBhZGQtcG9ydCBici1vdm4gcGYwaHBmCl9vdnMtdnNjdGwgc2V0IEludGVyZmFjZSBwZjBocGYgdHlwZT1kcGRrCl9vdnMtdnNjdGwgc2V0IEludGVyZmFjZSBwZjBocGYgbXR1X3JlcXVlc3Q9OTIxNgoKCg==