apiVersion: svc.dpu.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: ovn-dpu
  namespace: dpf-operator-system
spec:
  helmChart:
    source:
      chart: ovn-kubernetes-chart
      repoURL: oci://ghcr.io/nvidia
      version: v25.1.1
    values:
      global:
        gatewayOpts: --gateway-interface=br-ovn --gateway-uplink-port=puplinkbrovn
        imagePullSecretName: dpf-pull-secret
      k8sAPIServer: https://api.doca5.nvidia.eng.rdu2.dc.redhat.com:6443
      mtu: 1400
      ovnkube-node-dpu:
        cniBinDir: /var/lib/cni/bin/
        cniConfDir: /run/multus/cni/net.d
        hostCIDR: 10.6.135.0/24
        ipamPFIPIndex: 1
        ipamPool: pool1
        ipamPoolType: cidrpool
        ipamVTEPIPIndex: 0
        kubernetesSecretName: ovn-dpu
        vtepCIDR: 10.0.120.0/22
      podNetwork: 10.128.0.0/16/24
      serviceNetwork: 172.30.0.0/16
      tags:
        ovn-kubernetes-resource-injector: false
        ovnkube-control-plane: false
        ovnkube-node-dpu: true
        ovnkube-node-dpu-host: false
        ovnkube-single-node-zone: false
